<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>积分流水</title>
<link href="template/css/style.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="template/js/jquery.min.js"></script>
<script type="text/javascript" src="template/js/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="header clean">
  <div class="header-title left">积分流水</div>
</div>
<ul class="page-tab">
    {if $link_array[101]['url']}<li><a class="active" href="{$link_array[101]['url']}">积分流水表</a></li>{/if}
    {if $link_array[102]['url']}<li><a href="{$link_array[102]['url']}">积分汇总表</a></li>{/if}
</ul>

<div class="page-tools main-width">
    <form action="" method="get" name="myform" class="search-form">
	<p>
    当前站点：{$__ADMIN_CURGROUP['name']}（{$__ADMIN_CURGROUP['groupid']}）
	</p>
	<span id="label_div">
	{foreach $label_name[$_GET['search']['rule']] $kk $vv}
		{if !is_array($vv)}
		{$vv}：<input type="text" name="search[keys][{$kk}]" value="{$_GET['search']['keys'][$kk]}" />&nbsp;&nbsp;  {/if}
	{/foreach}
	</span>
	积分规则名称：<select name="search[rule]" onChange="show_label(this.value)">
					{foreach $ruleDefineList $key $val}
					<option value="{$key}" {if isset($_GET['search']['rule']) && $_GET['search']['rule']==$key}selected{/if}>{$val}</option>
					{/foreach}
				</select>&nbsp;&nbsp;
	时间：<input type="text" style="width:100px;" class="Wdate" value="{$_GET['search']['stime']}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="search[stime]"> 至 
		  <input type="text" style="width:100px;" class="Wdate" value="{$_GET['search']['etime']}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="search[etime]"> &nbsp;&nbsp;
	<input type="hidden" name="data_group_id" value="{$__ADMIN_CURGROUP['groupid']}">
	<input value="detailList" name="module" type="hidden" />
	<input type="submit" value="搜索" />
    </form>
</div>

<table class="table-list main-width" id="table-list">
  <tr>
    <th>编号</th>
	{foreach $label_name[$_GET['search']['rule']] $vv}
    {if !is_array($vv)} <th>{$vv}</th> {/if}
	{/foreach}
    <th>积分规则</th>
    <th>描述</th>
    <th>积分</th>
    <th>发生时间</th>
  </tr>
  {foreach $list['list'] $key $val}
  <tr>
    <td>{echo $key+1}</td>	
	{foreach $label_name[$_GET['search']['rule']] $v_k $v_v}
    {if !is_array($v_v)}<td>{$val[$v_k]}</td>{/if}
	{/foreach}
    <td>{echo $ruleDefineList[$val['Ruleid']]}</td>
    <td>{echo $val['Desc']}</td>
    <td>{echo $val['Weight']}</td>
    <td>{echo $val['Uptime']}</td>
  </tr>
  {/foreach}
</table>

<div class="main-width"><div class="pagenavi" id="lopage">{$list['page']}</div></div>
<script type="text/javascript">
function show_label(category,val){
	var label = '{$json_label_name}';
	var label_array = eval('('+label+')');
	var opt = document.getElementById("label_div");
	var data = label_array[category];
	var html ='';
	for(i in data){
		if(typeof(data[i]) !== 'object'){
			html += data[i]+'：<input type="text" name="search[keys]['+i+']" value="" />&nbsp;&nbsp;&nbsp;&nbsp;';
		}
	}
	opt.innerHTML = html;
}
</script>
</body>
</html>