<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<{include file="head.html"}>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站点风格模板</title>
<link href="template/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header clean">
  <div class="header-title left">站点风格模板</div>
  <div class="header-button right">{if $link_array[104]['url']}<a href="{$link_array[104]['url']}" class="add-button">添加</a>{/if}</div>
</div>
<ul class="page-tab">
	{if $link_array[101]['url']}<li><a href="{$link_array[101]['url']}">站点风格列表</a></li>{/if}
	{if $link_array[103]['url']}<li><a href="{$link_array[103]['url']}" class="active">站点风格模板</a></li>{/if}
</ul>

<div class="page-tools main-width"></div>

<table class="table-list main-width" id="table-list">
	<tr>
    <th>编号</th>
    <th>模板名称</th>
    <th>分类</th>
    <th>修改时间</th>
    <th>操作</th>
  </tr>
  {foreach $lists $k $arr}
  <tr>
    <td>{echo $k+1}</td>
    <td>{$arr['name']}</td>
    <td>{$arr['cat_name']}</td>
    <td>{$arr['uptime']}</td>
    <td>
    	{if $link_array[104]['url']}<a href="{$link_array[104]['url']}&id={$arr['id']}">修改</a>{/if}
    </td>
  </tr>
  {/foreach}
</table>
</body>
</html>