<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>娱乐房间系统</title>
<link href="template/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header clean">
  <div class="header-title left">房间管理列表</div>
  <div class="header-button right">{if $link_array[102]['url']}<a class="add-button" href="{$link_array[102]['url']}">添加</a>{/if}</div>
</div>

<div class="page-tools main-width">
</div>

<table class="table-list main-width" id="table-list">
	<tr>
    <th>编号</th>
    <th>方案名称</th>
    <th>创建时间</th>
    <th>开放站长配置</th>
    <th>操作</th>
  </tr>
  {foreach $rooms_ui $arr}
  <tr>
    <td>{$arr['id']}</td>
    <td>{$arr['name']}</td>
    <td>{echo date('Y-m-d H:i',$arr['uptime'])}</td>
    <td>{$status[$arr['status']]}</td>
    <td>
    	{if $link_array[104]['url']}<a href="{$link_array[104]['url']}&id={$arr['id']}">复制添加</a>&nbsp;&nbsp;&nbsp;&nbsp;{/if}
    	{if $link_array[102]['url']}<a href="{$link_array[102]['url']}&id={$arr['id']}">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;{/if}
        {if $link_array[103]['url']}<a href="{$link_array[103]['url']}&id={$arr['id']}">删除</a>{/if}
    </td>
  </tr>
  {/foreach}
</table>

<div class="main-width">{$page}</div>

</body>
</html>