@charset "utf-8";
/* CSS Document */
body{
	width:100%;
	margin:0;
	padding:0;
	font-family:"微软雅黑", Verdana, Geneva, sans-serif;
	background:url("../images/vip/vipbg.jpg") repeat-x;
}
*{
	margin:0;
	padding:0;
}
div, ul, li, p, h1, h2, img{
	margin:0;
	padding:0;
}
img{
	border:0;
}
.w1600{
	width:1600px;
	margin:0 auto;
	background:url("../images/vip/viptop.jpg") center top no-repeat;
}
.w962{
	width:962px;
	margin:0 auto;
}
.tables{
	position:absolute;
	top:105px;
	right:75px;
}
.tables th{
	color:#666;
	height:18px;
	line-height:18px;
	font-size:12px;
	text-align:center;
	background:#f4f4f4;
}
.tables td{
	color:#666;
	height:30px;
	line-height:30px;
	font-size:12px;
	text-align:center;
	background:#fff;
}
.footer{
	text-align:center;
	padding-top:10px;
	width:1600px;
	height:230px;
	margin:0 auto;
	background:url("../images/vip/vipft.jpg") 0 0 no-repeat;
}
.footer p{
	height:25px;
	line-height:25px;
	font-family:"宋体";
}
.footer p a{
	color:#000;
	font-size:14px;
	text-decoration:none;
}
.footer p span{
	color:#000;
	font-size:14px;
	margin:0 3px;
}
.footer .zhu{
	color:#000;
	font-size:12px;
	font-family:"微软雅黑";
}
/*头部导航样式*/
.hd {
	width:1600px;
	margin:0 auto;
}
.hd .topnav {
    width: 960px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    position: relative;
    color: #a7a7a7;
}
.hd .topnav a {
    color: #e2e1e1;
	font-family:"宋体";
	text-decoration:none;
}
.hd .topnav a:hover {
    color: #f50;
    text-decoration: underline;
}
.hd .topnav .topnav-left, .hd .topnav .topnav-right {
    color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #e2e1e1;
}
#right {
    width: 470px;
    float: right;
    position:absolute;
	top:0;
	right:0;
}
#right #site-nav {
    width: 500px
}
#right #site-nav a {
    color: #e2e1e1
}
#right #site-nav a:hover {
    color: #f50
}
.menu-bd a {
    color: #aaa !important
}
.menu-bd a:hover {
    color: #f50 !important
}
/*.menu:hover .menu-hd a {*/
    /*color: red !important*/
/*}*/
#right #site-nav .quick-menu {
    width: 392px;
    margin-left: 140px;
    float: right
}
#right #site-nav .quick-menu li {
    float: left;
    display: inline
}
#right #site-nav .quick-menu li .last {
    background: none transparent scroll repeat 0 0
}
#right #site-nav .quick-menu li .menu-item {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: relative
}
#right #site-nav .quick-menu .home {
    padding: 1px 15px 0 0
}
#right #site-nav .quick-menu .rank, .favorite, .help {
    padding: 1px 15px 0 0
}
#right #site-nav .menu-hd {
    padding: 0 22px 0 2px;
    z-index: 10002;
    padding-bottom: 0;
    cursor: pointer;
    position: relative;
    height: 20px
}
#right #site-nav .menu-hd b {
    border-right: transparent 4px solid;
    border-top: #fff 4px solid;
    font-size: 0;
    right: 10px;
    border-left: transparent 4px solid;
    width: 0;
    line-height: 0;
    border-bottom: transparent 4px solid;
    position: absolute;
    top: 14px;
    height: 0;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -webkit-transform .2s ease-in;
    -o-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in
}
#right #site-nav .menu-bd {
    border-right: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    display: none;
    z-index: 10001;
    right: 0;
    background: #fff;
    border-left: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    position: absolute;
    top: 21px;
    padding-bottom: 40px
}
#right #site-nav .mytaobao .menu-hd {
    width: 48px;
    padding-top: 1px;
    float: left;
    z-index: 10002
}
.mytaobao {
    position: relative;
    padding: 1px 0 0
}
#right #site-nav .mytaobao .menu-bd {
    width: 94px;
    line-height: 20px;
    position: absolute;
    top: 21px;
    _left: 0;
    _top: 21px;
    z-index: 10001;
    _margin-left: -96px;
    *padding: 0;
    padding: 0 \9;
    padding: 0
}
#right #site-nav .mytaobao .menu-bd-panel {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-top: 8px
}
#right #site-nav .services .menu-hd {
    width: 48px;
    padding-top: 1px;
    _padding-top: 1px
}
#right #site-nav .menu {
    position: relative;
    z-index: 1000
}
#right #site-nav .menu:hover .menu-hd, .ie6hd {
    border-right: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    background: white;
    margin: 0;
    border-left: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px;
    _height: 20px;
    _display: inline-block;
    _overflow: hidden
}
#right #site-nav .menu:hover .menu-hd b{
    border-left-color: #fff;
    filter: progid:dximagetransform.microsoft.basicimage(rotation = 2);
    border-bottom-color: #fff;
    border-top-color: #666;
    top: 12px;
    border-right-color: #fff;
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(180deg);
    transform-origin: 50% 30%
}
.ie6b{
    /*border-width: 6px !important ;*/
    _top:8px !important;
    border-color: #fff #fff  #aaa #fff !important;
}
#right #site-nav .menu:hover .menu-bd {
    display: block
}
#right #site-nav .menu:hover .menu-hd {
    color: #aaa !important;
}
.topnav-cur{
    color: #aaa !important;
}
