<ul class="page-tab">
	{if $link_array[101]['url']}<li><a href="{$link_array[101]['url']}" {if $module=='cash'}class="active"{/if}>成本中心现金币充值</a></li>{/if}
	{if $link_array[102]['url']}<li><a href="{$link_array[102]['url']}" {if $module=='balance'}class="active"{/if}>科目账户余额库存支</a></li>{/if}
    {if $link_array[103]['url']}<li><a href="{$link_array[103]['url']}" {if $module=='adjust'}class="active"{/if}>资金平衡调节</a></li>{/if}
    {if $link_array[104]['url']}<li><a href="{$link_array[104]['url']}" {if $module=='account'}class="active"{/if}>用户账户划账</a></li>{/if}
	{if $link_array[113]['url']}<li><a href="{$link_array[113]['url']}" {if $module=='toUser'}class="active"{/if}>用户账户充值</a></li>{/if}
    {if $link_array[109]['url']}<li><a href="{$link_array[109]['url']}" {if $module=='RecoverMoney'}class="active"{/if}>用户资金回收</a></li>{/if}
</ul>