<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>友情链接列表</title>
<link href="template/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header clean">
  <div class="header-title left">友情链接列表</div>
  <div class="header-button right">
  	{if $link_array[102]['url']}
  	<a href="{$link_array[102]['url']}" class="add-button">{$link_array[102]['child_name']}</a>
  	{/if}
  </div>
</div>
<table class="table-list main-width" id="table-list">
	<tr height="40">
		<th>网站名称</th>
		<th>网站LOGO</th>
		<th>排序</th>
		<th>操作</th>
	</tr>
	{if $lists}
		{foreach $lists $list}
		<tr>
			<td height="60">{$list['site_name']}</td>
			<td height="60"><img src="{$list['logo']}" /></td>
			<td height="60">{$list['order']}</td>
		    <td height="60">
	        	<{if $link_array[103]['url']}><a href="{$link_array[103]['url']}&id={$list['id']}">修改</a><{/if}>&nbsp;&nbsp;
	            <{if $link_array[104]['url']}><a href="javascript:;" class="del" url="{$link_array[104]['url']}&id={$list['id']}">删除</a><{/if}>
	        </td>
		</tr>
		{/foreach}
	{else}
		<tr>
			<td height="60" colspan="4">暂无内容</td>
		</tr>
	{/if}
</table>
<div class="main-width">
	{$page}
</div>
<script type="text/javascript" src="template/js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$(".del").click(function(){
		var that = $(this);
		if(confirm('确定要删除吗')){
			location.href = that.attr('url');
		}
	});
});
</script>
</body>
</html>