<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<{include file="head.html"}>
<title>四级科目列表</title>
</head>
<body>
<div class="header clean">
  <div class="header-title left">四级科目列表</div>
  <div class="header-button right">{if $link_array[118]['url']}<a href="{$link_array[118]['url']}&bigcase_id={$_GET['bigcase_id']}&case_id={$_GET['case_id']}&parent_id={$_GET['parent_id']}" class="add-button">添加四级科目</a>{/if}</div>
</div>

<ul class="page-tab">
  {if $link_array[101]['url']}<li><a href="{$link_array[101]['url']}">一级科目列表</a></li>{/if}
  {if $link_array[107]['url']}<li><a href="{$link_array[107]['url']}">二级科目列表</a></li>{/if}
	{if $link_array[112]['url']}<li><a href="{$link_array[112]['url']}">三级科目列表</a></li>{/if}
	{if $link_array[117]['url']}<li><a href="{$link_array[117]['url']}" class="active">四级科目列表</a></li>{/if}
</ul>

<div class="page-tools main-width">
    <form method="get">
    <input type="hidden" name="module" value="{$_GET['module']}" />
    一级科目：<select name="bigcase_id" id="bigcase" onChange="getOptions('case='+this.value,'case');clears('parent');"><option value="0">请选择</option></select> &nbsp;
    二级科目：<select name="case_id" id="case" onChange="getOptions('parent='+this.value,'parent');"><option value="0">请选择</option></select> &nbsp;
    三级科目：<select name="parent_id" id="parent"><option value="0">请选择</option></select>
    状态：<select name="status">
        <option value="0">请选择</option>
        <option value="2" {if $_GET['status']==2}selected{/if}>使用</option>
        <option value="1" {if $_GET['status']==1}selected{/if}>不使用</option>
    </select> &nbsp;
     关键字：<input type="text" name="wd" value="{$_GET['wd']}" />
    <input type="submit" value="搜索" />
    </form>
</div>

<table class="table-list main-width" id="table-list">
  <tr>
    <th>选择</th>
    <th>业务科目类别ID</th>
    <th>业务科目类别</th>
    <th>隶属三级科目类别</th>
    <th>描述</th>
    <th>渠道ID</th>
    <th>是否记录行为日志</th>
    <th>是否绑定资金操作</th>
    <th>资金账户类型</th>
    <th>借贷</th>
    <th>是否净收支</th>
    <th>资金交易属性</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  {foreach $lists $list}
  <tr>
    <td><input type="checkbox" name="id[]" value="{$list['id']}" {if $list['bind_fund']!=1}disabled{/if} /></td>
    <td>{$list['child_id']}</td>
    <td>{$list['child_name']}</td>
    <td>{$list['parent_name']}</td>
    <td>{$list['child_desc']}</td>
    <td>{$list['channel_id']}</td>
    <td>{if $list['is_log']==1}是{else}否{/if}</td>
    <td>{if $list['bind_fund']==1}是{else}否{/if}</td>
    <td>{if $list['fund_type']==1}现金币{elseif $list['fund_type']==2}虚拟币{elseif $list['fund_type']==3}V点{elseif $list['fund_type']==4}用户礼金{elseif $list['fund_type']==5}室主礼金{else}无{/if}</td>
    <td>{if $list['trade_type']==1}存入{elseif $list['trade_type']==2}支出{else}无{/if}</td>
    <td>{if $list['is_income_pay']==3}平台净收支{elseif $list['is_income_pay']==4} 账户净收支 {elseif $list['is_income_pay']==5}账户内收支 {elseif $list['is_income_pay']==6}调账收支 {else}无{/if}</td>
    <td>{echo !empty($trade_properties[$list['trade_property']]) ? $trade_properties[$list['trade_property']] : '无';}</td>
    <td>{if $list['child_status']==1}启用{else}未启用{/if}</td>
    <td>
		{if $link_array[122]['url']}
        {if $list['bind_fund']==1}
        <a href="javascript:;" onClick="childSync({$list['id']})">同步</a>
        {else}
        <span title="非资金业务无需同步">同步</span>
        {/if}
		{/if}
        {if $link_array[119]['url']}<a href="{$link_array[119]['url']}&edit={$list['id']}">修改</a>{/if}
        <!--<a href="?module=addChild&del={$list['id']}">删除</a>-->
    </td>
  </tr>
  {/foreach}
  {if $link_array[122]['url']}
  <tr>
    <td><input type="checkbox" onclick='check_all("id",this)'/></td>
    <td colspan="13" align="left"><input type="button" onClick="childSync()" value="批量同步" /></td>
  </tr>
  {/if}
</table>

<div class="main-width">{$page}</div>

<script language="javascript">
getOptions("bigcase=1","bigcase","{$_GET['bigcase_id']}");
{if !empty($_GET['bigcase_id'])}
getOptions("case={$_GET['bigcase_id']}",'case',"{$_GET['case_id']}");
{/if}
{if !empty($_GET['case_id'])}
getOptions("parent={$_GET['case_id']}",'parent',"{$_GET['parent_id']}");
{/if}
function childSync(id){
	var ids = '';
	if(typeof(id) =='number'){
		ids = 'id[]='+id;
	}else{
		var idobj = document.getElementsByName('id[]');
		var idlen = idobj.length;
		for(i=0;i<idlen;i++){
			if(idobj[i].disabled == false){
				if(i==0){
					ids += 'id[]='+idobj[i].value;
				}else{
					ids += '&id[]='+idobj[i].value;
				}
			}
			
		}
	}
	new Ajax().ajaxRequest('','?module=childSync',ids,'post',true,
		function callBack(result){
			var rst = eval('('+result.responseText+')');
			var rstlen = rst.length;
			var error = '';
			for(i=0;i<rstlen;i++){
				if(rst[i].Flag != 100){
					error += rst[i].id+'  ';
				}
			}
			if(error.length > 0){
				alert('ID为：'+error+'的配置项同步失败，请重新再试');
			}else{
				alert('同步成功');
			}
			window.location.reload();
		}
	);
}
</script>
</body>
</html>